<form [formGroup]="enrollForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="studentName">Student Name:</label>
        <input id="studentName" type="text" formControlName="studentName">
    </div>

    <div>
        <label for="studentEmail">Student Email:</label>
        <input id="studentEmail" type="email" formControlName="studentEmail">
        <!-- Step 55 Error Display -->
        <span *ngIf="enrollForm.get('studentEmail')?.errors?.['emailTaken']" style="color: red; display: block;">
            Email taken
        </span>
    </div>

    <div>
        <label for="courseId">Course ID:</label>
        <input id="courseId" type="text" formControlName="courseId">
        <!-- Step 54: Display custom Course ID error -->
        <span *ngIf="enrollForm.get('courseId')?.errors?.['noCourseCode']" style="color: red; display: block;">
            Course code starting with XX is not allowed.
        </span>
    </div>

    <div>
        <label>Preferred Semester:</label>
        <label>
            <input type="radio" value="Odd" formControlName="preferredSemester"> Odd
        </label>
        <label>
            <input type="radio" value="Even" formControlName="preferredSemester"> Even
        </label>
    </div>

    <!-- Step 56 & 57: Dynamic FormArray Fields Section -->
    <div style="margin: 15px 0; border: 1px dashed #ccc; padding: 10px;">
        <h4>Additional Courses</h4>
        <button type="button" (click)="addCourse()">Add Another Course</button>

        <div *ngFor="let ctrl of additionalCourses.controls; let i=index" style="margin-top: 5px;">
            <input [formControlName]="i" placeholder="Course name">
            <button type="button" (click)="removeCourse(i)">Remove</button>
        </div>
    </div>

    <div>
        <label>
            <input type="checkbox" formControlName="agreeToTerms"> Agree to Terms
        </label>
    </div>

    <button type="submit" [disabled]="enrollForm.invalid">Submit</button>

</form>